.App-header {
  background-color: #ffffff;
  height: 100%;
}

/* .fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden; 
} */

body{
  margin:0 !important;
}

html, body, #app,#root, #app > div {
  height: 100%
}